.Price__title.ys {
  margin-top: 1rem;
}

.budget-container {
  margin-bottom: 0.5rem;
}

.budget-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
}

input[type='number'] {
  text-align: right;
}

.shipping-input {
  width: 5rem;
  margin-right: 0.5rem;
}

.shipping-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
